.hamberger-container {
    height: 50px;
    width: 50px;
    background-color: black;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border: 0;
}

.hamberger-bar, .hamberger-bar-tilt-1, .hamberger-bar-tilt-2, .hamberger-bar-tilt-3 {
    background-color: #BBE1FA;
    width: 100%;
    height: 10%;
    border-radius: 10px;
    margin: auto;
    transform-origin: left;
    transition: transform 0.1s ease-in-out;
}

.hamberger-bar-tilt-1 {
    transform-origin: left;
    transform: scale(1.2) translateX(4%) rotate(45deg);
    transition: transform 0.1s ease-in-out;
}

.hamberger-bar-tilt-2 {
    visibility: hidden;
    transition: visibility 0.1s ease-in-out;
}

.hamberger-bar-tilt-3 {
    transform-origin: left;
    transform: scale(1.2) translateX(4%) rotate(-45deg);
    transition: transform 0.1s ease-in-out;
}

@media screen and (min-width: 1300px) {
    .hamberger-container {
        visibility: hidden;
    }
}

@media screen and (max-width: 500px) {
    .hamberger-container {
        height: 35px;
        width: 35px;
    }
    .hamberger-bar-tilt-1, .hamberger-bar-tilt-3 {
        transform-origin: left;
        transition: transform 0.1s ease-in-out;
    }
    .hamberger-bar-tilt-1 {
        transform: scale(1.35) translateX(4%) rotate(45deg);
    }
    .hamberger-bar-tilt-3 {
        transform: scale(1.35) translateX(4%) rotate(-45deg);
    }
}