.sidebar-container, .sidebar-container-sm-screen{
    background-color: #0F4C75;
    width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

.sidebar-container-sm-screen {
    width: 100%;
    transition: width 0.1s ease-in-out;
}

.sidebar-parent {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.sidebar-profile-photo {
    background-image: url('../resources/profile-photo.jpeg');
    height: 80px;
    width: 80px; 
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    box-shadow: 0px 2px 0px 1px #F4BEEE;
}

.sidebar-profile-name, .sidebar-profile-web-dev {
    text-align: center;
    color: white;
    padding: 5px 0;
}

.sidebar-profile-name {
    padding-top: 18px;
    padding-bottom: 3px;
    font-size: 20px;
}

.sidebar-profile-web-dev {
    font-size: 10px;
}

.sidebar-about {
    display: flex;
    height: 300px;
    justify-content: center;
    margin-top: 20px;
    height: 1000px;
}

.sidebar-about-list {
    color: white;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 5px;
}

.sidebar-about-list li {
    display: flex;
}

.sidebar-links-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto 10px;
    color: white;
    display: flex;
    text-align: center;
}

.sidebar-link {
    padding: 0 5px;
    height: 25px;
    width: 25px;
}

@media screen and (max-width: 1300px) {
    .sidebar-container {
        transition: width 0.1s ease-in-out;
        visibility: hidden;
    }
}