.about-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.about-container-left {
    width: 50%;
    display: flex;
    text-align: center;
}

.about-container-left-holder {
    margin: auto;
    text-align: left;
    padding: 0 50px;
}

.about-container-left-holder h1 {
    color: #3282B8;
    font-size: 60px;
    margin-bottom: 40px;
}

.about-container-left-holder p {
    color: #BBE1FA;
    font-size: 18px;
}

.about-container-left-holder p strong {
    font-weight: 700;
    color: #3282B8;
}

.about-container-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container-right-holder {
    color: #BBE1FA;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasWheel {
    width: 100%;
    aspect-ratio: 1;
}

@media screen and (max-width: 1800px){
    #canvasWheel {
        width: 90%;
    }
}

@media screen and (max-width: 1400px){
    #canvasWheel {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 1300px){
    #canvasWheel {
        width: 750px;
        height: 750px;
    }

    .about-container {
        flex-direction: column;
        justify-content: space-around;
    }

    .about-container-left {
        width: 100%;
    }

    .about-container-right {
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    #canvasWheel {
        width: 400px;
        height: 400px;
    }
    .about-container-left h1 {
        font-size:40px;
    }

    .about-container-left p {
        font-size: 15px;
    }
}