.about-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.about-container-left {
    width: 50%;
    display: flex;
    text-align: center;
}

.about-container-left-holder {
    margin: auto;
    text-align: left;
    padding: 0 50px;
}

.about-container-left-holder h1 {
    color: #3282B8;
}

.about-container-left-holder p {
    color: #BBE1FA;
}

.about-container-right {
    width: 50%;
    display: flex;
}

.about-container-right-holder {
    color: #BBE1FA;
    margin: auto;
    width: 100;
}

#canvasWheel {
    width: 800px;
    height: 800px;
}

@media screen and (max-width: 1800px){
    #canvasWheel {
        width: 600px;
        height: 600px;
    }
}

@media screen and (max-width: 1400px){
    #canvasWheel {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 1300px){
    #canvasWheel {
        width: 750px;
        height: 750px;
    }

    .about-container {
        flex-direction: column;
        justify-content: space-around;
    }

    .about-container-left {
        width: 100%;
    }

    .about-container-right {
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    #canvasWheel {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 400px){
    #canvasWheel {
        width: 250px;
        height: 250px;
    }
}