.mainbody-container {
  width: 100%;
}

.mainbody-container-hidden {
    visibility: hidden;
}

.mainbody-container-shift {
  background-color: var(--app-color-1);
  margin-left: 150px;
}

@media screen and (max-width: 1300px) {
  .mainbody-container-shift {
    margin-left: 0;
  }
}
